<!DOCTYPE HTML>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>ЗСУ</title>
		</head>
		<body>
			
			<table width="100%" border="0" cellpadding="0" cellspacing="0" height="100%">
				<th bgcolor="#000000">
					<a href="/" title="Назад" target="blank"><img  src="images/Logo.png" align="left" width="100" height="100" alt="Ємблема" /></a>
					<p align="center"><font color="#FFFFFF" size="7">Збройні сили України -</font></br><font color="#FFFFFF" size="4">запорука національної безпеки</font></p>
					<td align="right" bgcolor="#000000"><a href="https://www.facebook.com/theministryofdefence.ua/" title="Ми у Фейсбук" target="blank"><img src="images/facebook.png" width="50" height="50" alt="Facebook" /></a> <a href="https://twitter.com/defenceu/" title="Ми у Твіттері" target="blank"/> <img src="images/twitter.png" width="45" height="45"/ alt="twitter"></a>
					<a href="https://www.flickr.com/photos/ministryofdefenceua" title="Ми у Flickr" target="blank"><img src="images/flickr.png" width="45" height="45" alt="Flickr" /></a><a href="https://www.youtube.com/user/ctrsTVua" title="Ми у YouTube " target="blank"><img src="images/youtubeicon.png" width="45" height="45" alt="youtube"/></a><a href="https://plus.google.com/u/0/111837803911487120346" title="Ми у Google+" target="blank"><img src="images/google+.png" width="45" height="45" alt="Google+"/></a></td>
				</th>
				<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#016FAC">
					<tr>
							<td height="20px" bgcolor="#D0FF00">
							<p align="center"> <font size ="5"><a href="http://www.ZSU.ua/news"  title="Новини" target="blank"><font face="monospace">Новини</font></a><span>&nbsp;</span><a href="http://www.ZSU.ua/work" title="Діяльність" target="blank"><font face="monospace">Діяльність</font></a><span>&nbsp;</span><a href="http://www.ZSU.ua/zmi" title="Для ЗМІ" target="blank"><font face="monospace">Для ЗМІ</font></a><span>&nbsp;</span><a href="http://www.ZSU.ua/pub_info" title="Інформація для громадськості" target="blank"><font face="monospace">Публічна інформація</font></a><span>&nbsp;</span><a href="http://www.ZSU.ua/pub_info/gov_buy" title="Інформація про закупілю спецтехніки та обладнання" target="blank"><font face="monospace">Державні закупівлі</font></a><span>&nbsp;</span><a href="http://www.ZSU.ua/contact_us" title="Зв'язок" target="blank"><font face="monospace">Контакти</font> </font></a></p>
							</td>
					</tr>
						
				</table>
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
						<td align="left" bgcolor="#4B4A45" width="50%">
							<p align="center">
								<font size="5" color="E5C138"> Життєве кредо ЗСУ:</br>ЗА УКРАЇНУ!</br><span>&nbsp;</span><span>&nbsp;</span>ЗА ЇЇ СВОБОДУ!</font>
							</p>
						</td>
						<td>
							<img src="images/ZSU_1.jpg" align="right"  width="100%" height="20%" alt="Photo-1">
						</td>
						</tr>
				</table>
			</table>
			<table align="center" width="80%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="80%" >
						<p align="left"><font size="6">Всі новини </font></p>
						<form>
							<p align="right"><input type="search" placeholder="Пошук новин" name="s"><input type="submit" valuе="знайти" /> </p>
						</form>
						<hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/JhlEI98J"  title="Новини" target="blank">21:41|</i>Новини АТО</i>. Зведення Прес-центру штабу АТО станом на  14 листопада 2017 року</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/NBfqzp5d"  title="Новини" target="blank">20:38|</i>Новини АТО</i>.  Артилеристи відточують свою майстерність на полігонах Донеччини у місцях відведення</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/Qfx52IU"  title="Новини" target="blank">20:11|На Львівщині визначають кращу вертолітну ланку серед бригад армійської авіації Збройних Сил України</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/Opd665ssl"  title="Новини" target="blank">18:24|З початку цього року контракт зі Збройними Силами України уклала понад 31 тисяча осіб</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/JhlElnb8"  title="Новини" target="blank">17:58|Понад 1700 зразків озброєння та військової техніки закуплено та поставлено для Збройних Сил з держпідприємств у 2017 році</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/JhNyldm"  title="Новини" target="blank">17:08|</i>Новини АТО</i>.  Знання рятує життя: офіцери цивільно-військового співробітництва проводять зі школярами Старобільська заняття на тему мінної безпеки</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/PsvNJ32"  title="Новини" target="blank">16:44|У Національному університеті оборони України шанують пам’ять героїв минулих днів та сучасності</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/852JJHe"  title="Новини" target="blank">15:15|До сфери управління Міністерства оборони України повернуто земельну ділянку у м. Івано-Франківськ</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/HjvxJ"  title="Новини" target="blank">13:11|</i>Новини АТО</i>. Українська сторона СЦКК: створення «фейкових обстрілів» російською стороною СЦКК ставлять під загрозу планову роботу Донецької фільтрувальної станції</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/98kjpFg"  title="Новини" target="blank">12:00|Започатковано Всеукраїнську благодійну акцію на підтримку захисників України — «Мій тато — Герой!»</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/Kp34nhf"  title="Новини" target="blank">11:40|Відповідно до типової структури штабів НАТО вже реорганізовано близько 40% структурних підрозділів Генерального штабу Збройних Сил України</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/JhlEdjf8J"  title="Новини" target="blank">11:06|Медична допомога для учасників АТО на Чернігівщині</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/MMBNif"  title="Новини" target="blank">10:18|За сприяння експертів США та Великобританії організовано системну підготовку фахівців Збройних Сил України з оборонного планування</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/cmf56k13jmf"  title="Новини" target="blank">9:53|Міністр оборони України Степан Полторак розпочав робочий візит до Канади для участі у Міжнародній конференції ООН з питань миротворчості</a></p><hr />
						<p align="left" color="red"><a href="http://www.ZSU.ua/news/J5689kfjP"  title="Новини" target="blank">8:27|До кінця 2020 року визначено завдання досягти оперативної і технічної сумісності зі збройними силами держав-членів НАТО</a></p><hr />
						
					</td>
					<td  width="45%" >
					<p align="left"><font size="5">Корисні матеріали</font></p><hr  />
					<p><a href="http://www.ZSU.ua/mil_radioUA" title="armyFM" target="blank"><img src="images/radio.jpg" alt="radio"/></a></p>
					<p align="left"><font size="5">Відео матеріали</font><p><hr />
					<video width="50%"> <source src="video/Visit.mp4"></video>
					<p align="left"><font size="5">Для ЗМІ</font></p><hr />
					<a href="http://www.ZSU.ua/zmi/rules" title="zmi_rules" target="blank"><img src="images/zmi-rules.png" alt="zmi-rules" /></a><hr />
					<p align="left"><font size="5">Пантеон Героїв</font></p><hr />
					<a href="http://www.ZSU.ua/h_panteon" title="Пантеон героїв" target="blank"><img src="images/h_panteon.jpg" alt="Пантеон героїв"></a><hr />
					</td>
				</tr>
			</table>
			<table  align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td bgcolor="#000000" align="left"><font color="#FFFFFF">
					<p align="center">Пресс-служба</p>
					<ul>
					<li>1992-2017 Збройні сили України.Підпорядковуються міністерству обороні України</li>
					<li>Зауваження та пропозиції по роботі сайту надсилайте на адресу: webmaster@ZSU.ua</li>
					<li>Запити на отримання публічної інформації надсилайте на адресу: zapytzsu@gmail.com</li>
					</font></ul>
					</td>
					<td bgcolor="000000" align="left"><font color="#FFFFFF">
					<p align="center">Урядові сайти</p>
					<ul>
					<li><a href="http://www.president.gov.ua/" target="blank" >Президент України</a></li>
					<li><a href="http://rada.gov.ua/" target="blank" >Верховна Рада України</a></li>
					<li><a href="http://www.kmu.gov.ua/" target="blank" >Кабінет Міністрі України</a></li>
					<li><a href="http://www.rnbo.gov.ua/" target="blank" >РНБОУ</a></li>
					</font></ul>
					</td>
					<td bgcolor="#000000" align="left"><font color="#FFFFFF">
					<p align="center">Партнери</p><ul>
					<li><a href="https://www.ukrinform.ua/" target="blank" >УкрІнформ</a></li>
					<li><a href="https://www.facebook.com/ato.news" target="blank" >Пресс-центр АТО</a></li>
					<li><a href="http://cimic.com.ua/" target="blank" >ЦВС</a></li>
					<li><a href="http://sof.mil.gov.ua/" target="blank" >ССО</a></li>
					</font></ul>
					</td>
				</tr>
			</table>
		</body>
	</html>